[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
datetime = "*"
bcrypt = "*"
cors = "*"
faker = "*"
switch = "*"
flask-bcrypt = "*"
sqlalchemy = "*"
serializer = "*"

[dev-packages]

[requires]
python_version = "3.8"
