html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(270deg, orange, #fc633d, rgb(255, 80, 80), whitesmoke, wheat  70.71%); 
              /* linear-gradient(127deg, whitesmoke, wheat, 70.71%),  */
              /* linear-gradient(336deg, whitesmoke, white 70.71%); */
              filter: blur(.5px);
              font-family: 'Olde English', sans-serif;
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////NavBar */
/* ///////////////////////////////////////////// */


.nav {
  width: 90%;
  height: 0px;
  position: l;
}

.navLi {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: right;
  margin: 2%;
}


.navIcon {
  display: inline-block;
  height: 40%;
  filter: blur(2px);
  transition: blur .5s ease-in-out;
  transition: height .3s ease-in-out;
}


.navIcon:hover {
  display: inline-block;
  height: 105%;
  filter: blur(0px);
}


/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////About  */
/* ///////////////////////////////////////////// */


.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 75%;
  height: auto;
  margin-left: 2%;
}


.aboutH1 {
  font-size: 6em;
  /* background: linear-gradient(270deg, orange, black  70.71%); */
  /* background: blur(5px); */
  /* border: 20px solid rgb(170, 111, 2); */
  text-align: left;
  text-shadow: 12px 12px 12px #ffba75;
  margin-left: 3%;
  margin-bottom: 0%;
  /* box-shadow: 20px 20px 30px rgb(170, 111, 2); */
}

.aboutP {
  font-size: 1.6em;
  text-shadow: 4px 4px 4px #fc533d;
  margin-left: 1%;
}

.aboutPDiv {
  border: .4em solid;
  border-image: linear-gradient(90deg, #fc533d, black) 1;
  box-shadow: 18px 18px 18px 18px #fc533d;
  margin-left: 8%;
}

.taskCardTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.taskCardBottomRow {
  margin: 1%;
}

.taskCardTitle {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.taskCardPriority {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.taskCardDescription {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
} */


/* .navbar a {
  text-decoration: none;
  color: #000;
} */
.input {
  background-color: black;
  color: white;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  width: 85%;
}

.form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px black;
  width: 60%;
}

.button {
  background-color: white;
  padding: 3px;
  margin-bottom: 1%;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
}

.about {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  margin-bottom: 20%;
}