html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  /* background: linear-gradient(270deg, orange, #fc633d, rgb(255, 80, 80), whitesmoke, wheat, black  70.71%);  */
              /* linear-gradient(127deg, whitesmoke, wheat, 70.71%),  */
              /* linear-gradient(336deg, whitesmoke, white 70.71%); */
              filter: blur(.5px);
              font-family: 'Olde English', sans-serif;
  margin: 0;
  padding: 0;
}

                                      /* ///////////////////////////////////////////// */
                                          /* ///////////////////////////////////////Home */
                                      /* ///////////////////////////////////////////// */


body {
  display: flex;
  justify-content: center;
}

.bodyDiv {
  border-radius: 32px;
  margin-left: 4em;
  margin-top: 0em;
  width: 100%;
  min-height: 1000px;
  /* background: linear-gradient(270deg, orange, #fc633d, #ee2054, black); */
  background-color: black;
  font-family: 'Olde English', sans-serif;
  filter: blur(1px);
}

.mainColumns {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* outline: 4px solid black; */
  margin-left: 2%;
  border-radius: .5em;
  background-color: black;
}

.mainColumn1 {
  width: 70%;
  background: linear-gradient(270deg, orange, #fc633d, #ee2054, black);
}

.mainColumn2 {
  width: 30%;
  margin-top: 1%;
  background-color: black;
}

.mc2Div {
  display: flex;
  justify-content: center;
  font: Old-style;
  color: white;
  width: 100%;
  height: 90%;
  margin-left:12%;
  margin-top: 6%;
  outline: 32px solid red;
  border-radius: .5em;
}

.terrorCol1 {
  background-image: url("../assets/dungeonWall.png");
  background: linear-gradient(270deg, orange, #fc633d, #ee2054, black);
}

.terrorCol2 {
  background: linear-gradient(270deg, orange, #fc633d, #ee2054, black);
}

.terrorCol3 {
  background-image: url("../assets/dungeonWall.png");
  background-color: #ff4523;
}
  
.gridDiv {
  background-image: url("../assets/dungeonWall.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-left: 0%;
  border: 4px solid black;
  min-height: 1000px;
  filter: blur(.8px);
  border-radius: 32px
  /* background: linear-gradient(90deg, #fe2d38, #fc633d, orange, #fc633d, #fe2d38); */
}

.grid1 {
  width: 90%;
  height: 100%;
  /* background: linear-gradient(270deg, orange, #fc633d, #ee2054, black); */
  display: grid;
  border-radius: 16px;
  grid-template-columns: 38% 62%;
  grid-auto-rows: minmax(1em, auto);
  justify-items: stretch;
  align-items: center;
  /* row-gap: 3%; */
  column-gap: 3%;;
}

.grid2 {
  font-size: 2em;
  /* border: 4px double black; */
  background-color: transparent;
  display: grid;
  grid-template-columns: 39% 58%;
  grid-auto-rows: minmax(1em, auto);
  justify-items: stretch;
  align-items: center;
  justify-self: center;
  align-self: center;
  row-gap: 25%;
  margin-top: 8%;
  /* margin-left: -3%;  */
  margin-right: 4%; 
  column-gap: 3%;;
}

.overAboutContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.pazCol1 {
  display: flex;
  flex-direction: column;
}

.pazCol3 {
  display: flex;
  flex-direction: column;
  }

.tombPazA {
  width: auto;
  height: auto;
  margin: 2em;
  transform: translateX(3em);
  animation: tombPazAAnimation 8s infinite linear;
}

@keyframes tombPazAAnimation {
0% { transform: translateX(0) }
100% { transform: translateX(0) rotateZ(360deg) }
}

.tombPazB {
  width: auto;
  height: auto;
  margin: 2em;
  transform: translateX(3em);
  animation: tombPazBAnimation 8s infinite linear;
}

@keyframes tombPazBAnimation {
0% { transform: translateX(0) }
100% { transform: translateX(0) rotateZ(-360deg) }
}

.aboutContainer {
  background-color: black;
  color: #e4188b;
  /* outline: 8px solid black; */
  padding: .5em;
  width: 50%;
  padding-bottom: 4em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.aboutDiv1 {
  font-size: 8em;
  margin-left: 4em;
  
}

.tombPaz1 {
  width: 100%;
  height: auto;
  margin-top: 4em;
  margin-left: 3em;
  animation: fadeIn 12s ease-in-out;
}

  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; } 
  }

.box {
  outline: 4px solid black;
  /* outline-offset: 4px; */
  border-radius: .2em;
  padding-left: .4em;
  padding-top: .4em;
  padding-bottom:.4em;
}

.box1box {
  width: 100%;
  border-top-right-radius: 2em;
  display: flex;
  outline: 4px solid black;
  flex-direction: row;
  /* box-shadow: .1em .1em .1em .3em #ffba75; */
}

.box1 {
  font-size: 1.2em;
  width: 100%;
  font-weight: 900;
  grid-column: 1/4;
  grid-row: 1/3;
  background: linear-gradient(45deg, #ffb558, #fb1a68);
  padding-top: .1em;;
  border-top-right-radius: 2em;
}

.box1a {
  filter: blur(1px);
  border: 8px double black;
  width: 18%;
  font-size: 4em;
  padding-top: .2em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box1aAbout {
  filter: blur(1px);
  border: 8px double black;
  width: 18%;
  display: flex;
  justify-content: center;
  align-content: center;
}


box1cAbout {
  border: 8px double black;
  width: 34%;
  display: flex;
  border-top-right-radius: 2em;
  justify-content: center;
  align-content: center;
 }

.box1b {
  filter: blur(1px);
  border: 12px double black;
  width: 48%;
  display: flex;
  justify-content: center;
  font-size: 4em;
  font-weight: 900;
  background-color: orange;
  margin: oem;
  padding-top: .1em;;
}

.box1c {
  
  border: 8px double black;
  width: 34%;
  display: flex;
  border-top-right-radius: .5em;
  justify-content: center;
  align-content: center;
  font-size: 4em;
  padding-top: .2em;
}

.details {
  margin-left: 1em;
}

.box2 {
  font-family: 'Limelight', cursive;
  grid-column: 1/4;
  padding: .5em;
  border-radius: 4px; 
  outline: 8px solid black;
  margin-top: 8px;
  margin-bottom: 8px;
  /* margin: 0em; */
  background-color: #fc633d;
  box-shadow: 4px 4px 4px white;
}

.box3 {
  font-family: 'Creepster', cursive;
  grid-column: 1/3;
  margin-right: 2em;
  background-color: #ff4523;
}

.box6 {
  font-family: 'Creepster', cursive;
  grid-column: 1/3;
  margin-left: 2em;
  background-color: #ffb558;
}

.box7 {
  font-family: 'Creepster', cursive;
  grid-column: 1/3;
  margin-right: 2em;
  background-color: #fb1a68;
}


.box9 {
  background-color: #e4188b;
}

.nav {
  filter: blur(.5px);
  /* background: linear-gradient(270deg, orange, #fc633d, #ee2054, black); */
  background-color: #000000;
  width: 100%;
  margin-bottom: -1em;
  margin-left: 1.4em;
  /* height: 0px; */
  position: l;
}

.navUl {
  background-color: #000000;
  width: 90%;
}

.navLi {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  margin-left: 3%;
  filter: blur(.5px);
}


/* ///////////////////////////////////////////// */
/* ///////////////////////////////////////About  */
/* ///////////////////////////////////////////// */


.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 75%;
  height: auto;
  margin-left: 2%;
}


.aboutH1 {
  font-size: 6em;
  /* background: linear-gradient(270deg, orange, black  70.71%); */
  /* background: blur(5px); */
  /* border: 20px solid rgb(170, 111, 2); */
  text-align: left;
  text-shadow: 12px 12px 12px #ffba75;
  margin-left: 3%;
  margin-bottom: 0%;
  /* box-shadow: 20px 20px 30px rgb(170, 111, 2); */
}

.aboutP {
  font-size: 1.6em;
  text-shadow: 4px 4px 4px #fc533d;
  margin-left: 1%;
}

.aboutPDiv {
  border: .4em solid;
  border-image: linear-gradient(90deg, #fc533d, black) 1;
  box-shadow: 18px 18px 18px 18px #fc533d;
  margin-left: 8%;
}

/* .navbar a {
  text-decoration: none;
  color: #000;
} */
.input {
  background-color: black;
  color: white;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  width: 85%;
}

.form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px black;
  width: 60%;
}

.button {
  background-color: white;
  padding: 3px;
  margin-bottom: 1%;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
}

.about {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  margin-bottom: 20%;
}

.worblinDiv {
  width: 6em;
  display: flex;
  flex-direction: row;
}

.navTomb {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, white, #ee2054);
  height: 1.6em;
  transition: 5s;
}

.navTomb:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
 }

.navBloodLogin {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, white, #ee2054);
  height: 1.6em;
  transition: 5s;
}

.navBloodLogin:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
}

.navAccount {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, white, #ee2054);
  height: 1.6em;
  transition: 5s;
}

.navAccount:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
 }

.navAbout {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, white, #ee2054);
  height: 1.6em;
  transition: 5s;
}

.navAbout:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
 }

.navWorblin {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, white, #ee2054);
  height: 1.6em;
  transition: 5s;
}

.navWorblin:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
}

.navGobMap {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, orange, 
white, #ffb558);
  height: 1.6em;
  transition: 5s;
}

.navGobMap:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
}

.navBloodLogout {
  width: auto;
  font-family: 'Limelight', cursive;
  background: linear-gradient(270deg, #ff4523, white, #ffb558);
  height: 1.6em;
  transition: 5s;
}

.navBloodLogout:hover {
  background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558);
}

.accountGrid {
  font-size: 2em;
  width: 100%;
  outline: 8px solid black;
  display: grid;
  grid-template-columns: 70% 30%;
  border-top-right-radius: 1em;
}

.agDiv1 {
  /* outline: 4px solid #e4188b; */
  background: linear-gradient(270deg, black, #ee2054, #fc633d, orange);
}
.agDiv1Sub {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/dungeonWall.png");
}

.agDiv1SubUser {
  background-color: black;
  border-radius: 1em;
  margin-top: 4%;
  margin-right: 10%;
  padding: 1em;
  font-size: .8em;
  font-family: 'Limelight', cursive;
  color: #ee2054;
  width: 70%;
  height: 70%;
}

.accountForm {
  width: 75%;
  height: 75%;
  margin-top: 1em;
  background-color: #ffb558;
  border-radius: 1em;
  border: .2em solid #e4188b;
 }

.agDiv2 {
  background-color: #ee2054;
  border-top-right-radius: 1em;
  /* outline: 4px solid #ffb558; */
}

.agDiv2Sub {
  height: 92%;
  width: 92%;
  background-color: black;
  border-radius: 1em;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accPaz1 {
  padding: 3em;
  margin: -4em;
  width: auto;
  height: auto;
  animation: accPaz1Animation 2s infinite ease-in-out;
}

@keyframes accPaz1Animation {
  0% { transform: translateY(0) }
  100% { transform: translateY(100%) }
}

.accPaz2 {
  padding: 3em;
  /* margin: -4em; */
  width: auto;
  height: auto;
  animation: accPaz2Animation 8s infinite linear;
}

@keyframes accPaz2Animation {
  0% { opacity: 1 }
  10% { opacity: 0.1 }
  100% { opacity: 1 }
}

.accPaz3 {
  padding: 3em;
  margin: -4em;
  width: auto;
  height: auto;
  animation: accPaz3Animation 2s infinite alternate-reverse;
}

@keyframes accPaz3Animation {
  0% { transform: rotateZ(0) }
  100% { transform: rotateZ(360deg) }
  }

.accPaz4 {
    width: 100%;
    height: auto;
    margin: 2em;
    transform: translateX(3em);
    animation: accPaz4Animation 4s infinite linear;
}

@keyframes accPaz4Animation {
  0% { transform: translateX(0) }
  100% { transform: translateX(0) rotateZ(360deg) }
}

.accPaz5 {
    width: auto;
    height: auto;
    margin: 3em;
    animation: accPaz5Animation 4s infinite alternate;
}

@keyframes accPaz5Animation {
  0% { transform: scaleX(1) }
  100% { transform: scaleX(1.5) }
}

.loginDiv1 {
  background-color: black;
  border-radius: 1em;
  color: wheat;
  margin: 2em;
  border: wheat 8px solid;
}

.loginDiv2 {
  margin-top: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 0em;
  padding: 1em;
  border-radius: 1em;
  border: wheat 8px solid;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.loginForm {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.loginButton {
  font-family: 'Olde English', 'san-serif';
  font-size: 1em;
  margin-top: 1em;
  padding: 24px 24px;
  background-color: #e7278d;
  color: #000000;
  border: none;
  border-radius: 16px;
  letter-spacing: 8px;
  /* overflow: scroll; */
  transition: 2.5s;
  cursor: pointer;
}

.loginButton:hover{
    background: #e7278d;
    color: #df16df;
    box-shadow: 0 0 32px #f45303,
                0 0 40px #c003f4,
                0 0 48px #12f1fc,
                0 0 200px #44dfbd;
}

.signUpDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
}

.signUpButton {
  font-family: 'Olde English', 'san-serif';
  font-size: 1em;
  display: flex;
  justify-content: center;
  padding: 24px 24px;
  background-color: #e7278d;
  color: #000000;
  border: none;
  border-radius: 16px;
  letter-spacing: 8px;
  /* overflow: scroll; */
  transition: 2.5s;
  cursor: pointer;
}

.signUpButton:hover{
    background: #e7278d;
    color: #df16df;
    box-shadow: 0 0 32px #f45303,
                0 0 40px #c003f4,
                0 0 48px #12f1fc,
                0 0 200px #44dfbd;
}

.mapContainer {
  width: 100%;
  height: 100%;
}




/* .signUpButton { */
  /* font-size: 1em; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 24px 24px; */
  /* background-color: #e7278d; */
  /* color: #000000; */
  /* border: none; */
  /* border-radius: 16px; */
  /* letter-spacing: 8px; */
  /* overflow: scroll; */
  /* transition: 2.5s; */
  /* cursor: pointer; */
/* } */

/* .signUpButton:hover{ */
    /* background: #e7278d; */
    /* color: #df16df; */
    /* box-shadow: 0 0 32px #f45303, */
                /* 0 0 40px #c003f4, */
                /* 0 0 48px #fbfcfc, */
                /* 0 0 200px #44dfbd; */
/* } */



/* .navGobMap { */
  /* width: auto; */
  /* font-family: 'Limelight', cursive; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 12px 12px; */
  /* background: linear-gradient(270deg, orange, white, #ffb558); */
  /* height: 1.6em; */
  /* transition: 2.5s; */
 /* } */
 /*  */
 /* .navGobMap:hover { */
  /* background: linear-gradient(270deg, orange, white, #44dfbd, white, #ffb558); */
  /* color: white; */
  /* box-shadow: 0 0 32px #f45303, */
            /* 0 0 40px #c003f4, */
            /* 0 0 48px #12f1fc, */
            /* 0 0 200px #44dfbd; */
 /* } */
 
 /* navGobMap:hover:before { */
  /* content: "GobMap℗" */
 /* } */

 .gobMapDiv {
  height: 100vh;
  width: 100vw;
 }
 .map-container {
  height: 100%;
  width: 100%;
 }

 .quiz-container {
  background-color: #12f1fc;
 }